<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Portfolio</title>
        <meta name="description" content="">
        <meta name="author" content="William McWhorter">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <link href="../static/style.css" rel="stylesheet">
        <link href="../static/icons/logo2.png" rel="icon">
    </head>

    <body data-bs-theme="dark">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md navbar-fixed-top bg-body-secondary">
            <div class="container-fluid">
                <a class="navbar-brand ps-2" href="{{url_for('index')}}"><img src="../static/icons/logo2.png" height="50" width="auto"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar" aria-controls="navbar" aria-expand="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" style="width:150px" tabindex="-1" id="navbar" aria-labelledby="navbarLabel">
                    <div class="navbar-nav justify-content-end">
                        <a class="nav-link" href="{{url_for('index')}}">Home</a>
                        <a class="nav-link" href="{{url_for('about')}}">About</a>
                        <a class="nav-link active" aria-current="page" href="{{url_for('portfolio')}}">Portfolio</a>
                        <a class="nav-link" href="../static/resume.pdf" target="_blank">CV/Resume</a>
                        <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Filter Buttons -->
        <div class="container-fluid w-75 text-center" id="filter-buttons">
            <button class="btn mb-2 btn-outline-secondary active" onclick="filterSelection('all')">Show All</button>
            <button class="btn mb-2 btn-outline-secondary" onclick="filterSelection('python')">Python</button>
            <button class="btn mb-2 btn-outline-secondary" onclick="filterSelection('front-end')">Front End</button>
            <button class="btn mb-2 btn-outline-secondary" onclick="filterSelection('data-vis')">Data Visualization</button>
            <button class="btn mb-2 btn-outline-secondary" onclick="filterSelection('machine-learning')">Machine Learning</button>
            <button class="btn mb-2 btn-outline-secondary" onclick="filterSelection('big-data')">Big Data</button>
            <button class="btn mb-2 btn-outline-secondary" onclick="filterSelection('hypothesis-testing')">Hypothesis Testing</button>
        </div>

        <!-- Filter Dropdown -->
        <div class="container-fluid w-75 mb-2" id="filter-dropdown">
            <select class="form-select w-auto" autocomplete="off">
                <option selected onclick="filterSelection('all')">All</option>
                <option onclick="filterSelection('python')">Python</option>
                <option onclick="filterSelection('front-end')">Front End</option>
                <option onclick="filterSelection('data-vis')">Data Visualization</option>
                <option onclick="filterSelection('machine-learning')">Machine Learning</option>
                <option onclick="filterSelection('big-data')">Big Data</option>
                <option onclick="filterSelection('hypothesis-testing')">Hypothesis Testing</option>
            </select>
        </div>

        <!-- Project Cards -->
        <div class="container custom-breakpoints mb-2">
            <div class="row row-cols-1 row-cols-md-3 g-3">

                <!-- Portfolio Website -->
                <div class="col filterable python front-end">
                    <button type="button" class="btn p-0 w-100" data-bs-toggle="modal" data-bs-target="#portfolio">
                        <div class="card project-card">
                            <div class="card-header">
                                <h1>Portfolio Website</h1>
                            </div>
                            <img class="card-img-bottom" src="../static/images/portfolio.jpg">
                        </div>
                    </button>
                </div>

                <!-- PTR Testing -->
                <div class="col filterable python data-vis">
                    <button type="button" class="btn p-0 w-100" data-bs-toggle="modal" data-bs-target="#ptrtesting">
                        <div class="card project-card">
                            <div class="card-header">
                                <h1>PTR Testing</h1>
                            </div>
                            <img class="card-img-bottom" src="../static/images/ptrTesting.png">
                        </div>
                    </button>
                </div>

                <!-- World Demographics -->
                <div class="col filterable data-vis">
                    <button type="button" class="btn p-0 w-100" data-bs-toggle="modal" data-bs-target="#worlddemographics">
                        <div class="card project-card">
                            <div class="card-header">
                                <h1>World Demographics</h1>
                            </div>
                            <img class="card-img-bottom" src="../static/images/world_demographics.jpg">
                        </div>
                    </button>
                </div>

                <!-- Dirt Rates -->
                <div class="col filterable data-vis hypothesis-testing">
                    <button type="button" class="btn p-0 w-100" data-bs-toggle="modal" data-bs-target="#dirt">
                        <div class="card project-card">
                            <div class="card-header">
                                <h1>Dirt Rates</h1>
                            </div>
                            <img class="card-img-bottom" src="../static/images/dirt.jpg">
                        </div>
                    </button>
                </div>

                <!-- Maven Market -->
                <div class="col filterable data-vis">
                    <button type="button" class="btn p-0 w-100" data-bs-toggle="modal" data-bs-target="#mavenmarket">
                        <div class="card project-card">
                            <div class="card-header">
                                <h1>Maven Market</h1>
                            </div>
                            <img class="card-img-bottom" src="../static/images/maven_market.jpg">
                        </div>
                    </button>
                </div>

                <!-- Adventure Works -->
                <div class="col filterable data-vis">
                    <button type="button" class="btn p-0 w-100" data-bs-toggle="modal" data-bs-target="#adventureworks">
                        <div class="card project-card">
                            <div class="card-header">
                                <h1>Adventure Works</h1>
                            </div>
                            <img class="card-img-bottom" src="../static/images/adventure_works.jpg">
                        </div>
                    </button>
                </div>

                <!-- Distributed Programming -->
                <div class="col filterable python machine-learning big-data">
                    <button type="button" class="btn p-0 w-100" data-bs-toggle="modal" data-bs-target="#spark">
                        <div class="card project-card">
                            <div class="card-header">
                                <h1>Distributed Clustering</h1>
                            </div>
                            <img class="card-img-bottom" src="../static/images/spark.png">
                        </div>
                    </button>
                </div>

                <!-- Profession Website -->
                <div class="col position-relative filterable python front-end">
                    <!--<h1 class="position-absolute start-50 top-50 translate-middle hover-text text-center">World of Warcraft Professions</h1>-->
                    <button type="button" class="btn p-0 w-100" data-bs-toggle="modal" data-bs-target="#professions">
                        <div class="card project-card">
                            <div class="card-header">
                                <h1>World of Warcraft Professions</h1>
                            </div>
                            <img class="card-img-bottom" src="../static/images/professions.jpg">
                        </div>
                    </button>
                </div>

                <!-- Product Recommender -->
                <div class="col filterable python front-end machine-learning big-data">
                    <button type="button" class="btn p-0 w-100" data-bs-toggle="modal" data-bs-target="#recommender">
                        <div class="card project-card">
                            <div class="card-header">
                                <h1>Recommender System</h1>
                            </div>
                            <img class="card-img-bottom" src="../static/images/recommender.jpg">
                        </div>
                    </button>
                </div>

                <!-- DSKUS -->
                <div class="col filterable python machine-learning">
                    <button type="button" class="btn p-0 w-100" data-bs-toggle="modal" data-bs-target="#dskus">
                        <div class="card project-card">
                            <div class="card-header">
                                <h1>DSKUS</h1>
                            </div>
                            <img class="card-img-bottom" src="../static/images/dskus.png">
                        </div>
                    </button>
                </div>

                <!-- Bayesian Data Analysis -->
                <div class="col filterable python hypothesis-testing">
                    <button type="button" class="btn p-0 w-100" data-bs-toggle="modal" data-bs-target="#bayesian">
                        <div class="card project-card">
                            <div class="card-header">
                                <h1>Bayesian Data Analysis</h1>
                            </div>
                            <img class="card-img-bottom" src="../static/images/bayesianStats.png">
                        </div>
                    </button>
                </div>

            </div>
        </div>

        <!-- Portfolio Website Modal -->
        <div class="modal fade modal-lg" id="portfolio" tabindex="-1" aria-labelledby="portfolioLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="text-end modal-close">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-11 mx-auto"> <!-- col-3=25%, col-12=100% of row width-->
                                    
                                    <div class="text-center"> <!-- No idea why the text-center class can't be in the surrounding div instead of putting this in its own div-->
                                        <img src="../static/images/portfolio.jpg" width="100%">
                                    </div>
                                    <h1 class="text-center">Portfolio Website</h1>
                                    <p class="text-center h2"> February 2025 - Ongoing </p>
                                    <p class="text-center">A website to consolidate information about myself and a portfolio with project links.</p>

                                    <hr>

                                    <h2>Description</h2>
                                    <!-- Reasoning -->
                                    <p>
                                    </p>
                                    <!-- Methodology -->
                                    <p>
                                    </p>

                                    <hr>

                                    <h2>Skills/Technologies</h2>
                                    <img class="skill python" src="../static/icons/python.png" alt="Python logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Python">
                                    <img class="skill" src="../static/icons/pandas_mark_white.svg" alt="Pandas logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Pandas">
                                    <img class="skill" src="../static/icons/flask.png" alt="Flask logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Flask">
                                    <img class="skill" src="../static/icons/html.png" alt="HTML logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="HTML">
                                    <img class="skill" src="../static/icons/css.png" alt="CSS logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="CSS">

                                    <!--<p>Python, Flask, Pandas, HTML, CSS</p>-->

                                    <hr>

                                    <h2>Links</h2>
                                    <!--
                                    <a class="btn btn-outline-secondary" href="https://trillithia.pythonanywhere.com" target="_blank">Website</a>
                                    <a class="btn btn-outline-secondary" href="https://github.com/wm706513/profession-site" target="_blank">GitHub</a>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PTR Testing Modal -->
        <div class="modal fade modal-lg" id="ptrtesting" tabindex="-1" aria-labelledby="ptrtestingLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="text-end modal-close">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-11 mx-auto"> <!-- col-3=25%, col-12=100% of row width-->
                                    
                                    <div class="text-center"> <!-- No idea why the text-center class can't be in the surrounding div instead of putting this in its own div-->
                                        <img src="../static/images/ptrTesting.png" width="100%">
                                    </div>
                                    <h1 class="text-center">PTR Testing</h1>
                                    <p class="text-center h2">January 2025</p>
                                    <p class="text-center">Scrape, collate, and visualize logs for the World of Warcraft Undermine(d) raid PTR testing.</p>

                                    <hr>

                                    <h2>Description</h2>
                                    <!-- Reasoning -->
                                    <p>
                                    </p>
                                    <!-- Methodology -->
                                    <p>
                                    </p>

                                    <hr>

                                    <h2>Skills/Technologies</h2>
                                    <img class="skill python" src="../static/icons/python.png" alt="Python logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Python">
                                    <img class="skill" src="../static/icons/tableau.png" alt="Tableau logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Tableau">

                                    <!--<p>Python, Flask, Pandas, HTML, CSS</p>-->

                                    <hr>

                                    <h2>Links</h2>
                                    <!--
                                    <a class="btn btn-outline-secondary" href="https://trillithia.pythonanywhere.com" target="_blank">Website</a>
                                    <a class="btn btn-outline-secondary" href="https://github.com/wm706513/profession-site" target="_blank">GitHub</a>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- World Demographics Modal -->
        <div class="modal fade modal-lg" id="worlddemographics" tabindex="-1" aria-labelledby="worlddemographicsLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="text-end modal-close">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-11 mx-auto"> <!-- col-3=25%, col-12=100% of row width-->
                                    
                                    <div class="text-center"> <!-- No idea why the text-center class can't be in the surrounding div instead of putting this in its own div-->
                                        <img src="../static/images/world_demographics.jpg" width="100%">
                                    </div>
                                    <h1 class="text-center">World Demographics</h1>
                                    <p class="text-center h2">January 2025</p>
                                    <p class="text-center">Recreation of the World Demographics animation presented by Hans Rosling in his TED Talk <i>The Best Stats You've Ever Seen</i> in 2013.</p>

                                    <hr>

                                    <h2>Description</h2>
                                    <!-- Reasoning -->
                                    <p>
                                    </p>
                                    <!-- Methodology -->
                                    <p>
                                    </p>

                                    <hr>

                                    <h2>Skills/Technologies</h2>
                                    <img class="skill" src="../static/icons/tableau.png" alt="Tableau logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Tableau">

                                    <!--<p>Python, Flask, Pandas, HTML, CSS</p>-->

                                    <hr>

                                    <h2>Links</h2>
                                    <!--
                                    <a class="btn btn-outline-secondary" href="https://trillithia.pythonanywhere.com" target="_blank">Website</a>
                                    <a class="btn btn-outline-secondary" href="https://github.com/wm706513/profession-site" target="_blank">GitHub</a>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Dirt Rates Modal -->
        <div class="modal fade modal-lg" id="dirt" tabindex="-1" aria-labelledby="dirtLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="text-end modal-close">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-11 mx-auto"> <!-- col-3=25%, col-12=100% of row width-->
                                    
                                    <div class="text-center"> <!-- No idea why the text-center class can't be in the surrounding div instead of putting this in its own div-->
                                        <img src="../static/images/dirt.jpg" width="100%">
                                    </div>
                                    <h1 class="text-center">Dirt Rates</h1>
                                    <p class="text-center h2">September 2024 - Ongoing</p>
                                    <p class="text-center">Dashboard to analyze the drop rates of knowledge items in World of Warcraft world treasures.</p>

                                    <hr>

                                    <h2>Description</h2>
                                    <!-- Reasoning -->
                                    <p>
                                    </p>
                                    <!-- Methodology -->
                                    <p>
                                    </p>

                                    <hr>

                                    <h2>Skills/Technologies</h2>
                                    <img class="skill" src="../static/icons/excel.png" alt="Excel logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Excel">
                                    <img class="skill" src="../static/icons/tableau.png" alt="Tableau logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Tableau">

                                    <!--<p>Python, Flask, Pandas, HTML, CSS</p>-->

                                    <hr>

                                    <h2>Links</h2>
                                    <!--
                                    <a class="btn btn-outline-secondary" href="https://trillithia.pythonanywhere.com" target="_blank">Website</a>
                                    <a class="btn btn-outline-secondary" href="https://github.com/wm706513/profession-site" target="_blank">GitHub</a>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Maven Market Modal -->
        <div class="modal fade modal-lg" id="mavenmarket" tabindex="-1" aria-labelledby="mavenmarketLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="text-end modal-close">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-11 mx-auto"> <!-- col-3=25%, col-12=100% of row width-->
                                    
                                    <div class="text-center"> <!-- No idea why the text-center class can't be in the surrounding div instead of putting this in its own div-->
                                        <img src="../static/images/maven_market.jpg" width="100%">
                                    </div>
                                    <h1 class="text-center">Maven Market</h1>
                                    <p class="text-center h2">August 2024</p>
                                    <p class="text-center">A Power BI report for a fake grocery store.</p>

                                    <hr>

                                    <h2>Description</h2>
                                    <!-- Reasoning -->
                                    <p>
                                    </p>
                                    <!-- Methodology -->
                                    <p>
                                    </p>

                                    <hr>

                                    <h2>Skills/Technologies</h2>
                                    <img class="skill" src="../static/icons/powerbi.svg" alt="Power BI logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Power BI">

                                    <!--<p>Python, Flask, Pandas, HTML, CSS</p>-->

                                    <hr>

                                    <h2>Links</h2>
                                    <!--
                                    <a class="btn btn-outline-secondary" href="https://trillithia.pythonanywhere.com" target="_blank">Website</a>
                                    <a class="btn btn-outline-secondary" href="https://github.com/wm706513/profession-site" target="_blank">GitHub</a>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Adventure Works Modal -->
        <div class="modal fade modal-lg" id="adventureworks" tabindex="-1" aria-labelledby="adventureworksLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="text-end modal-close">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-11 mx-auto"> <!-- col-3=25%, col-12=100% of row width-->
                                    
                                    <div class="text-center"> <!-- No idea why the text-center class can't be in the surrounding div instead of putting this in its own div-->
                                        <img src="../static/images/adventure_works.jpg" width="100%">
                                    </div>
                                    <h1 class="text-center">Adventure Works</h1>
                                    <p class="text-center h2">August 2024</p>
                                    <p class="text-center">A Power BI report for a fake bicycle retailer.</p>

                                    <hr>

                                    <h2>Description</h2>
                                    <!-- Reasoning -->
                                    <p>
                                    </p>
                                    <!-- Methodology -->
                                    <p>
                                    </p>

                                    <hr>

                                    <h2>Skills/Technologies</h2>
                                    <img class="skill" src="../static/icons/powerbi.svg" alt="Power BI logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Power BI">

                                    <!--<p>Python, Flask, Pandas, HTML, CSS</p>-->

                                    <hr>

                                    <h2>Links</h2>
                                    <!--
                                    <a class="btn btn-outline-secondary" href="https://trillithia.pythonanywhere.com" target="_blank">Website</a>
                                    <a class="btn btn-outline-secondary" href="https://github.com/wm706513/profession-site" target="_blank">GitHub</a>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Distributed Clustering Modal -->
        <div class="modal fade modal-lg" id="spark" tabindex="-1" aria-labelledby="sparkLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="text-end modal-close">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-11 mx-auto"> <!-- col-3=25%, col-12=100% of row width-->
                                    
                                    <div class="text-center"> <!-- No idea why the text-center class can't be in the surrounding div instead of putting this in its own div-->
                                        <img src="../static/images/spark.png" width="100%">
                                    </div>
                                    <h1 class="text-center">Distributed Clustering</h1>
                                    <p class="text-center h2"> April 2024 </p>
                                    <p class="text-center">Distributed implementation and testing of the K-Means++ clustering algorithm using Spark.</p>

                                    <hr>

                                    <h2>Description</h2>
                                    <!-- Reasoning -->
                                    <p>
                                    </p>
                                    <!-- Methodology -->
                                    <p>
                                    </p>

                                    <hr>

                                    <h2>Skills/Technologies</h2>
                                    <img class="skill python" src="../static/icons/python.png" alt="Python logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Python">
                                    <img class="skill" src="../static/icons/pandas_mark_white.svg" alt="Pandas logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Pandas">
                                    <img class="skill" src="../static/icons/spark.png" alt="Apache Spark Star logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Apache Spark">
                                    <img class="skill sklearn" src="../static/icons/sklearn.png" alt="Scikit-Learn logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Scikit-Learn">

                                    <!--<p>Python, Flask, Pandas, HTML, CSS</p>-->

                                    <hr>

                                    <h2>Links</h2>
                                    <!--
                                    <a class="btn btn-outline-secondary" href="https://trillithia.pythonanywhere.com" target="_blank">Website</a>
                                    <a class="btn btn-outline-secondary" href="https://github.com/wm706513/profession-site" target="_blank">GitHub</a>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Profession Website Modal -->
        <div class="modal fade modal-lg" id="professions" tabindex="-1" aria-labelledby="professionsLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="text-end modal-close">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-11 mx-auto"> <!-- col-3=25%, col-12=100% of row width-->
                                    
                                    <div class="text-center"> <!-- No idea why the text-center class can't be in the surrounding div instead of putting this in its own div-->
                                        <img src="../static/images/professions.jpg" width="100%">
                                    </div>
                                    <h1 class="text-center">World of Warcraft Professions</h1>
                                    <p class="text-center h2"> July 2023 - Ongoing </p>
                                    <p class="text-center">Website to consolidate World of Warcraft character profession data.</p>

                                    <hr>

                                    <h2>Description</h2>
                                    <!-- Reasoning -->
                                    <p>
                                        Maintaining many professions across many characters within World of Warcraft can make it difficult to keep track of the finer details.
                                        By constructing <a href="https://trillithia.pythonanywhere.com" target="_blank">trillithia.pythonanywhere.com</a>, I was able to create a resource that consolidated all of this information into one location
                                        that is easily accessible and traverisble. Since the game is also online, the website opens friends to this information so that they can place orders without needing me to be around.
                                    </p>
                                    <!-- Methodology -->
                                    <p>
                                        This website was built using the Flask library in Python to run the backend, as well as HTML files and a mix of custom and Bootstrap CSS. 
                                        The data is read from a collection of CSV and JSON files, processed using Python to determine which crafters can create which recipes.
                                        In the event of multiple crafters knowing a recipe, it works with the data from the crafter who can create the recipe at the highest quality.
                                    </p>

                                    <hr>

                                    <h2>Skills/Technologies</h2>
                                    <img class="skill python" src="../static/icons/python.png" alt="Python logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Python">
                                    <img class="skill" src="../static/icons/pandas_mark_white.svg" alt="Pandas logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Pandas">
                                    <img class="skill" src="../static/icons/flask.png" alt="Flask logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Flask">
                                    <img class="skill" src="../static/icons/html.png" alt="HTML logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="HTML">
                                    <img class="skill" src="../static/icons/css.png" alt="CSS logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="CSS">

                                    <!--<p>Python, Flask, Pandas, HTML, CSS</p>-->

                                    <hr>

                                    <h2>Links</h2>
                                    <a class="btn btn-outline-secondary" href="https://trillithia.pythonanywhere.com" target="_blank">Website</a>
                                    <a class="btn btn-outline-secondary" href="https://github.com/wm706513/profession-site" target="_blank">GitHub</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Recommender System Modal -->
        <div class="modal fade modal-lg" id="recommender" tabindex="-1" aria-labelledby="recommenderLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="text-end modal-close">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-11 mx-auto"> <!-- col-3=25%, col-12=100% of row width-->
                                    
                                    <div class="text-center"> <!-- No idea why the text-center class can't be in the surrounding div instead of putting this in its own div-->
                                        <img src="../static/images/recommender.jpg" width="100%">
                                    </div>
                                    <h1 class="text-center">Recommender System</h1>
                                    <p class="text-center h2"> April 2023 </p>
                                    <p class="text-center">System to recommend products on Amazon to customers based on reviews.</p>

                                    <hr>

                                    <h2>Description</h2>
                                    <!-- Reasoning -->
                                    <p>
                                    </p>
                                    <!-- Methodology -->
                                    <p>
                                    </p>

                                    <hr>

                                    <h2>Skills/Technologies</h2>
                                    <img class="skill python" src="../static/icons/python.png" alt="Python logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Python">
                                    <img class="skill" src="../static/icons/pandas_mark_white.svg" alt="Pandas logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Pandas">
                                    <img class="skill sklearn" src="../static/icons/sklearn.png" alt="Scikit-Learn logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Scikit-Learn">
                                    <img class="skill" src="../static/icons/flask.png" alt="Flask logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Flask">
                                    <img class="skill" src="../static/icons/html.png" alt="HTML logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="HTML">
                                    <img class="skill" src="../static/icons/css.png" alt="CSS logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="CSS">

                                    <!--<p>Python, Flask, Pandas, HTML, CSS</p>-->

                                    <hr>

                                    <h2>Links</h2>
                                    <!--
                                    <a class="btn btn-outline-secondary" href="https://trillithia.pythonanywhere.com" target="_blank">Website</a>
                                    <a class="btn btn-outline-secondary" href="https://github.com/wm706513/profession-site" target="_blank">GitHub</a>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DSKUS Modal -->
        <div class="modal fade modal-lg" id="dskus" tabindex="-1" aria-labelledby="dskusLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="text-end modal-close">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-11 mx-auto"> <!-- col-3=25%, col-12=100% of row width-->
                                    
                                    <div class="text-center"> <!-- No idea why the text-center class can't be in the surrounding div instead of putting this in its own div-->
                                        <img src="../static/images/dskus.png" width="100%">
                                    </div>
                                    <h1 class="text-center">DSKUS</h1>
                                    <p class="text-center h2">March 2023 - June 2023</p>
                                    <p class="text-center">Multinational research project to analyze and compare social media content between countries.</p>

                                    <hr>

                                    <h2>Description</h2>
                                    <!-- Reasoning -->
                                    <p>
                                    </p>
                                    <!-- Methodology -->
                                    <p>
                                    </p>

                                    <hr>

                                    <h2>Skills/Technologies</h2>
                                    <img class="skill python" src="../static/icons/python.png" alt="Python logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Python">
                                    <img class="skill" src="../static/icons/pandas_mark_white.svg" alt="Pandas logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Pandas">
                                    <img class="skill sklearn" src="../static/icons/sklearn.png" alt="Scikit-Learn logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Scikit-Learn">

                                    <!--<p>Python, Flask, Pandas, HTML, CSS</p>-->

                                    <hr>

                                    <h2>Links</h2>
                                    <!--
                                    <a class="btn btn-outline-secondary" href="https://trillithia.pythonanywhere.com" target="_blank">Website</a>
                                    <a class="btn btn-outline-secondary" href="https://github.com/wm706513/profession-site" target="_blank">GitHub</a>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bayesian Data Analysis Modal -->
        <div class="modal fade modal-lg" id="bayesian" tabindex="-1" aria-labelledby="bayesianLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="text-end modal-close">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-11 mx-auto"> <!-- col-3=25%, col-12=100% of row width-->
                                    
                                    <div class="text-center"> <!-- No idea why the text-center class can't be in the surrounding div instead of putting this in its own div-->
                                        <img src="../static/images/bayesianStats.png" width="100%">
                                    </div>
                                    <h1 class="text-center">Bayesian Data Analysis</h1>
                                    <p class="text-center h2">November 2022 - December 2022</p>
                                    <p class="text-center">Bayesian analysis of the distribution of Mythic+ keystone drops in World of Warcraft.</p>

                                    <hr>

                                    <h2>Description</h2>
                                    <!-- Reasoning -->
                                    <p>
                                    </p>
                                    <!-- Methodology -->
                                    <p>
                                    </p>

                                    <hr>

                                    <h2>Skills/Technologies</h2>
                                    <img class="skill python" src="../static/icons/python.png" alt="Python logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Python">
                                    <img class="skill" src="../static/icons/pandas_mark_white.svg" alt="Pandas logo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Pandas">

                                    <!--<p>Python, Flask, Pandas, HTML, CSS</p>-->

                                    <hr>

                                    <h2>Links</h2>
                                    <!--
                                    <a class="btn btn-outline-secondary" href="https://trillithia.pythonanywhere.com" target="_blank">Website</a>
                                    <a class="btn btn-outline-secondary" href="https://github.com/wm706513/profession-site" target="_blank">GitHub</a>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Contact Bar -->
        <!--One line, left aligned copyright, centered links-->
        <!--
        <footer class="container-fluid fixed-bottom bg-body-secondary">
            <div class="container-fluid position-fixed start-50">
        -->
        <!--Two lines, centered copyright, centered links-->
        <footer class="container-fluid text-center bg-body-secondary">
            <div class="container-fluid text-center">
                <span id="contacts"> <!-- use a span here to shrink the hover area for the hover effects. using the div causes hover to activate over the entire screen width -->
                    <a href="https://github.com/wm706513" target="_blank"><img class="contact-link" src="../static/icons/github-mark-white.png" alt="Github Invertocat Logo"></a>
                    <a href="https://www.linkedin.com/in/william-mcwhorter/" target="_blank"><img class="contact-link" src="../static/icons/In-White-128.png" alt="LinkedIn 'in' Logo"></a>
                    <a href="mailto:wm706513@ohio.edu"><img class="contact-link" src="../static/icons/email-logo.png" alt="Email Icon"></a>
                </span>
            </div>
            <span>© 2025 William McWhorter</span>
        </footer>

        <!-- Code for enabling tooltip popups -->
        <script>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        </script>

        <!-- Code for allowing filter buttons to work with reloading the page with new data each time -->
        <script>
            //Run this to set all elements to have .show initially
            filterSelection("all")

            //Remove show from all elements with .filterable and then add .show back to the ones selected by the filters
            function filterSelection(c) {
                var x, i;
                x = document.getElementsByClassName("filterable");
                if (c == "all") c = "";
                for (i = 0; i < x.length; i++) {
                    w3RemoveClass(x[i], "show");
                    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
                }
            }
            
            //Add .show to the provided element
            function w3AddClass(element, name) {
                var i, arr1, arr2;
                arr1 = element.className.split(" ");
                arr2 = name.split(" ");
                for (i = 0; i < arr2.length; i++) {
                    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
                }
            }
            
            //Remove .show from the provided element
            function w3RemoveClass(element, name) {
                var i, arr1, arr2;
                arr1 = element.className.split(" ");
                arr2 = name.split(" ");
                for (i = 0; i < arr2.length; i++) {
                    while (arr1.indexOf(arr2[i]) > -1) {
                        arr1.splice(arr1.indexOf(arr2[i]), 1);     
                    }
                } 
                element.className = arr1.join(" ");
            }
            
            // Add active class to the current button (highlight it)
            var btnContainer = document.getElementById("filter-buttons");
            var btns = btnContainer.getElementsByClassName("btn");
            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function(){
                    var current = btnContainer.getElementsByClassName("active");
                    current[0].className = current[0].className.replace(" active", "");
                    this.className += " active";
                });
            }

            /*
            var dropdownContainer = document.getElementById("filter-dropdown");
            var options = dropdownContainer.getElementsByTagName("option");
            for (var i = 0; i < options.length; i++) {
                options[i].addEventListener("click", function(){
                    var current = btnContainer.getElementsByClassName("active");
                    current[0].className = current[0].className.replace(" active", "");
                    this.className += " active";
                });
            }*/
        </script>
    </body>
</html>